// vars
$img_path: "/assets/images/";

// fonts and typefaces
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Martellas Stamp';
    src: url('https://www.maddencdn.com/content/fonts/martellas_stamp/martellas_stamp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// colors
$bgColor: #efe4d3;
$blue: #143758;
$lightblue: #8cc9db;
$orange: #ee6B47;
$lightorange: #f79e42;

// fonts and typefaces
$font_body: "Poppins", sans-serif;
$font_headline: 'Martellas Stamp', sans-serif;
